.todos-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.todo {
    text-align: center;
    background: #f2f2f2;
    cursor: pointer;
    padding: 20px;
}
.todo.completed {
    background: #4b4b4b;
    color: #fff;
}

.todos-actions {
    display: flex;
    justify-content: flex-end;
    padding: 0px 20px
}

.add-todo {
    width: 100%;
}

.add-todo-btn {
    width: 200px;
    padding: 20px;
    color: #fff;
    background-color:#3cbd00  ;
} 